<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.umanitoba.personalhealthcare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PersonalHealthcare">
        <activity
            android:name=".presentation.AddSymptomActivity"
            android:exported="false"
            android:parentActivityName=".presentation.SearchActivity" />
        <activity
            android:name=".presentation.LogInActivity"
            android:exported="false"
            android:parentActivityName=".application.MainActivity"/>
        <activity
            android:name=".presentation.ResultsActivity"
            android:exported="false"
            android:parentActivityName=".presentation.SearchActivity" />
        <activity
            android:name=".presentation.BodyPartsActivity"
            android:exported="false"
            android:parentActivityName=".presentation.SearchActivity" />
        <activity
            android:name=".presentation.SearchActivity"
            android:exported="false"
            android:parentActivityName=".application.MainActivity" />
        <activity
            android:name=".presentation.CreateAccountActivity"
            android:exported="false"
            android:parentActivityName=".application.MainActivity" />
        <activity
            android:name=".application.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>